node_modules
.env
screen-shots
server/database/db.json
server/db.json
error-shots/*
.DS_Store
.vscode
codeship.aes
tests/load-tests/channels/ao_logins.js
test_results
docker-log.txt
allure-report/
allure-results/
.prettierrc