node_modules
.env
screen-shots
server/database/db.json
server/db.json
error-shots/*
.DS_Store
codeship.aes
tests/load-tests/channels/ao_logins.js
docker-log.txt
playwright-report
test-result.json
test-results
.env*
!.env.project
!.env.vault
src/.env
screenshot.png
artifacts
Screenshots
package.json
package-lock.json
dist
.vscode/launch.json
