apiVersion: v1alpha
kind: playwright
defaults:
  mode: sauce
sauce:
  region: us-west-1
  concurrency: 1
  metadata:
    tags:
      - e2e
      - release team
      - other tag
    build: Release $CI_COMMIT_SHORT_SHA
  sauceignore: .sauceignore
playwright:
  version: 1.22.2
suites:
- name: Abdel QA Maintenance List
  mode: sauce
  platformName: windows 10
  params:
    project: 
    browserName: "chromium"
  testMatch: ["*.ts"]
rootDir: .\
artifacts:
  download:
    match:
    - '*'
    when: always
    directory: ./artifacts
docker:
  fileTransfer: copy
  image: saucelabs/stt-playwright-node:1.22.2
