version: '1.0'

stages:
  - 'setup'
  - 'test'

# hooks:
#   on_success:
#     image: codefreshplugins/cfstep-msteams-notifier:latest
#     environment:
#       - MSTEAMS_WEBHOOK_URL=${{MSTEAMS_DEVOPS_UPDATES}}
#       - MSTEAMS_TITLE=✅✅ Pipeline ${{CF_PIPELINE_NAME}} Succeeded ✅✅

#   on_fail:
#     steps:
#       general_updates:
#         image: codefreshplugins/cfstep-msteams-notifier:latest
#         environment:
#           - MSTEAMS_WEBHOOK_URL=${{TEAM_AUTOMATION_REPORTING_WEBHOOK_URL}}
#           - MSTEAMS_TITLE=Smoke - PROD - Failed
#           - MSTEAMS_ACTIVITY_SUBTITLE=legalshield/frontend-test-automation@main
#           - MSTEAMS_LINK_URL=${{CF_BUILD_URL}}
#           - MSTEAMS_ACTIVITY_IMAGE=https://github.com/${{CF_BUILD_INITIATOR}}.png

steps:
  component_legalshield:
    title: 'Component LegalShield'
    stage: 'test'
    type: codefresh-run
    arguments:
      PIPELINE_ID: 65a6ba6467341dac3a405057
      ENABLE_NOTIFICATIONS: true
      VARIABLE:
        - PLAYWRIGHT_SUITE_TAG="@ComponentLegalShield"
        - PLAYWRIGHT_ENV="USE_PROD=true"
